@import '../../style/index';

.button {
    $this: &;

    @include transition-animation(background-color);
    @include typography-secondary-bolded();

    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-flex;
}
