$color-additional-white: #fff;

$color-main-black: #13191b;
$color-main-blue: #30aed6;
$color-main-gray: #f0f0f1;
$color-main-red: #ce363d;

$color-typography-main: #13191b;
$color-typography-secondary: #7b8487;
