$button-header-background-color-focus: $color-additional-white;
$button-header-color-active: $color-additional-white;
$button-header-color-focus: $color-typography-main;
$button-header-color-inactive: $color-typography-secondary;
$button-header-margin: 0 get-rem(13);
$button-header-padding: get-rem(8) get-rem(10);

$card-background-color: $color-additional-white;
$card-margin: get-rem(10);
$card-max-width: get-rem(342);
$card-min-width: get-rem(250);
$card-padding: get-rem(19);

$dropdown-button-height: get-rem(36);
$dropdown-button-margin-top: get-rem(-3);
$dropdown-button-padding: get-rem(2) get-rem(6);
$dropdown-color: $color-additional-white;
$dropdown-icon-margin: get-rem(12) 0 get-rem(11) get-rem(10);
$dropdown-icon-size: get-rem(8);
$dropdown-item-margin: get-rem(8) 0;
$dropdown-list-min-width: get-rem(100);
$dropdown-list-position-top: get-rem(40);

$filter-button-border-color: $color-main-blue;
$filter-button-border-width: get-rem(2);
$filter-button-margin: get-rem(0) get-rem(11);
$filter-button-padding: get-rem(4) get-rem(8);
$filter-button-padding-active: get-rem(4) get-rem(8) get-rem(2);
$filter-wrapper-border-color: #e6e6e8;
$filter-wrapper-padding: 0 get-rem(14);

$global-border-radius: 4px;
$global-border-width: get-rem(1);
$global-transition-duration: 0.2s;

$header-background-color: $color-main-black;
$header-height: get-rem(30);
$header-padding: get-rem(14);
$header-text-color: $color-additional-white;

$filter-background-color: $color-additional-white;
$filter-height: get-rem(48);

$main-background-color: $color-main-gray;
$main-max-width-unitles: 1200;
$main-max-width: get-rem($main-max-width-unitles);

$notification-icon-size: get-rem(20);
$notification-padding: get-rem(2) get-rem(4) get-rem(4);

$post-input-border-color: #d9dce2;
$post-input-height: get-rem(14);
$post-input-margin: get-rem(8) get-rem(2) get-rem(6) 0;
$post-input-padding: get-rem(11) get-rem(36) get-rem(11) get-rem(11);
$post-input-button-size: get-rem(18);
$post-input-button-position-right: get-rem(34);
$post-input-button-position-top: get-rem(38);

$profile-image-size: get-rem(30);
$profile-name-margin: get-rem(8) 0 get-rem(8) get-rem(10);

$search-height: get-rem(22);
$search-icon-size: get-rem(18);
$search-icon-padding: get-rem(4);
$search-input-height: get-rem(20);
$search-input-padding: get-rem(4);
$search-input-width: get-rem(150);

$widget-hover-border-color: $color-additional-white;
$widget-margin: 0 get-rem(10);
