@import '../../style/index.scss';

.filter {
    background-color: $filter-background-color;
    border-bottom: $global-border-width solid $filter-wrapper-border-color;
    height: $filter-height;

    &__button {
        @include typography-main-secondary-bolded();

        margin: $filter-button-margin;
        padding: $filter-button-padding;

        &:first-child {
            margin-left: 0;
        }

        &.button--active {
            color: $color-typography-main;
            border-bottom: $filter-button-border-width solid
                $filter-button-border-color;
            padding: $filter-button-padding-active;
        }
    }

    &__wrapper {
        @include center-main-content();

        height: 100%;
        padding: $filter-wrapper-padding;
    }
}
