@import '../../style/index';

.card {
    display: inline-flex;

    background-color: $card-background-color;
    border-radius: $global-border-radius;
    height: min-content;
    margin: $card-margin;
    max-width: $card-max-width;
    min-width: $card-min-width;
    overflow: hidden;
}
