@mixin base-font() {
    font-family: 'Roboto';
}

@mixin typography-navigation-button() {
    @include base-font();

    color: $color-typography-secondary;
    font-size: get-rem(12);
    font-weight: 600;
}
